<h1 *ngIf="!this.editMode">Add new Company</h1>
<h1 *ngIf="this.editMode">Edit Company</h1>
<a href="/companies" class="button" style="display: inline-block !important; width: auto !important;">Companies List</a>
<br />
<br />

<div>
	<br />
	<div class="form-group">
		<label>Company Name</label>
		<input type="text" [(ngModel)]="company.name_en" >
		<label>Company Name ru</label>
		<input type="text" [(ngModel)]="company.name_ru" >
		<label>Company Name kz</label>
		<input type="text" [(ngModel)]="company.name_kz" >
		<label>Company Name es</label>
		<input type="text" [(ngModel)]="company.name_es" >
		<label>Company Name deu</label>
		<input type="text" [(ngModel)]="company.name_zh" >
	</div>
	<div class="form-group">
		<input type="hidden" [(ngModel)]="company.image_url">
		<label>Identification Number</label>
		<input type="text" [(ngModel)]="company.bin_iin">
		<label>WebSite</label>
		<input type="text" [(ngModel)]="company.webSite">
	</div>
	<div class="form-group">
		<label>Country</label>
		<select [(ngModel)]="company.country_id" (change)="onChangeCountry($event.target.value)" class="country_select form-control">
			<option value="">Select Country</option>
			<option *ngFor="let country of list_countries; index as i;" value="{{ country.id }}">{{ country.name_en }}</option>
		</select>
	</div>
	<div class="form-group">
		<label>City</label>
		<select [(ngModel)]="company.city_id" class="form-control">
			<option value="">Select City</option>
			<option *ngFor="let city of list_cities; index as i;" value="{{ city.id }}">{{ city.name_en }}</option>
		</select>
	</div>
	<div class="form-group">
		<label>Status</label>
		<select name="is_active" [(ngModel)]="company.is_active" class="form-control">
			<option value="true">Active</option>
			<option value="false">Not Active</option>
		</select>
	</div>
	<button (click)="saveCompany()" style="padding: 8px;" class="button">Submit</button>
</div>