<div *ngFor="let progressInfo of progressInfos" class="mb-2">
    <span>{{ progressInfo.fileName }}</span>
    <div class="progress">
      <div
        class="progress-bar progress-bar-info progress-bar-striped"
        role="progressbar"
        attr.aria-valuenow="{{ progressInfo.percentage }}"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{ width: progressInfo.percentage + '%' }"
      >
        {{ progressInfo.percentage }}%
      </div>
    </div>
  </div>
  
  <label class="btn btn-default">
    <input type="file" accept="image/*" multiple (change)="selectFiles($event)" />
  </label>
  
  <button
    class="btn btn-success"
    [disabled]="!selectedFiles"
    (click)="uploadFiles()"
  >
    Upload
  </button>
 
<div class="card">
  <div class="card-header">Слайдеры</div>
  <ul
    class="list-group list-group-flush"
    *ngFor="let file of listImg"
  >
    <li class="list-group-item">
      <img src="{{ file.url }}" alt="{{ file.url }}" height="80px">
      
      <p id="delete">
        <input *ngIf="!this.editMode" type="radio" id="{{ file.url }}" name="is_main" [checked]="file.is_main" (change)="Change($event,file.url)"  /> 
        <input *ngIf="this.editMode" type="radio" id="{{ file._id }}" name="is_main" [checked]="file.is_main" (change)="Change($event,'s')"  /> Основной
        <button *ngIf="this.editMode" style="float: right;" class="btn btn-primary" (click)="delete(file._id)"> Удалить</button>
      </p>
    </li>
  </ul>
</div>
  <div class="alert alert-light" role="alert">{{ message }}</div>
  <div class="form-group">
		<label>slider name</label>
		<input type="text" [(ngModel)]="model.name">
  </div>
  <!-- <div class="form-group">
		<label>Parent View</label><br />
		<select [(ngModel)]="model.sight_id" name="sight_id" >
			<option value="">Select Parent View</option>
			<option *ngFor="let sight of list_sights" [value]="sight.id">{{ sight.name_en }}</option>
		</select>
	</div> -->
  <div class="form-group">
		<label>Status</label>
		<select [(ngModel)]="model.active" name="active" class="form-control">
			<option value="true">Active</option>
			<option value="false">Not Active</option>
		</select>
	</div>
  <button
  class="btn btn-success"
 
  (click)="saveAr()"
>
  Save
</button>