@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box !important;
		}
		a {
			text-decoration: none !important;
			color: white;
		}
		.alert {
			display: block;
			padding: 20px;
			box-sizing: border-box;
			background: #f1f1f1;
			border: 1px solid #cdcdcd;
			margin: 10px 0;
		}
		.alert p {
			margin: 0;
			padding: 0;
		}
		select {
			width: 80% !important;
		}
		.select2 {
			display: block;
			width: 100%;
			clear: both;
			float: none;
		}
		.container-fluid {
			padding: 0;
		}
		body {
			min-height: 100vh;
			font-family: 'Roboto', sans-serif !important;
			font-size: 16px;
			color: #333;
		}
		.toupper {
			text-transform: capitalize;
		}
		.container {
			width: 100%;
			height: 100%;
			min-height: 100vh;
		}
		.container.flex_center {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.bordered {
			border: 2px solid #ededed;
			padding: 30px;
			text-align: center;
			width: 25%;
		}
		h1 {
			font-size: 24px;
			text-transform: uppercase;
		}
		form {
			display: block;
			margin-top: 20px;
		}
		form label {
			display: block;
			width: 100%;
			font-size: 14px;
			margin-bottom: 5px;
		}
		input[type=text], input[type=email], input[type=date], input[type=number], 	input[type=password], textarea {
			display: block;
			width: 100%;
			height: 40px;
			border-radius: 4px;
			border: 1px solid #ccc;
			margin: 5px 0;
			padding: 0 5px;
			box-sizing: border-box;
			font-size: 14px;
		}
		textarea {
			padding: 5px;
			font-size: Arial;
			min-height: 100px;
		}
		input:focus {
			background: #f1f1f1;
		}
		
		.badge {
			font-size: 12px;
			margin: 0 1px;
		}
		
		/* BUTTONS */
		button:not(.select2-selection__choice__remove), a.button:not(.select2-selection__choice__remove) {
			color: #fff!important;
    background-color: #0642cd!important;
    border: 1px solid #0642cd!important;
    -webkit-box-shadow: 0 1px 1px rgba(7,66,205,.15),0 1px 2px rgba(7,66,205,.15),0 1px 2px rgba(7,66,205,.15),0 2px 4px rgba(7,66,205,.15),0 4px 12px rgba(7,66,205,.15)!important;
    box-shadow: 0 1px 1px rgba(7,66,205,.15),0 1px 2px rgba(7,66,205,.15),0 1px 2px rgba(7,66,205,.15),0 2px 4px rgba(7,66,205,.15),0 4px 12px rgba(7,66,205,.15)!important;
    -webkit-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
    border-radius: 5px;
	/* padding: 7px !important; */
		}
		a.button {
			line-height: 40px;
		}
		#sidebar{
			color: #fff!important;
			background-color: #0642cd!important;
			border: 1px solid #0642cd!important;
			-webkit-box-shadow: 0 1px 1px rgba(7,66,205,.15),0 1px 2px rgba(7,66,205,.15),0 1px 2px rgba(7,66,205,.15),0 2px 4px rgba(7,66,205,.15),0 4px 12px rgba(7,66,205,.15)!important;
			box-shadow: 0 1px 1px rgba(7,66,205,.15),0 1px 2px rgba(7,66,205,.15),0 1px 2px rgba(7,66,205,.15),0 2px 4px rgba(7,66,205,.15),0 4px 12px rgba(7,66,205,.15)!important;
			-webkit-transition: all 350ms ease;
			-o-transition: all 350ms ease;
			transition: all 350ms ease;
			
		}
		.sidebar-header{
			color: #fff!important;
			background-color: #0642cd!important;
			border: 1px solid #0642cd!important;
			-webkit-box-shadow: 0 1px 1px rgba(7,66,205,.15),0 1px 2px rgba(7,66,205,.15),0 1px 2px rgba(7,66,205,.15),0 2px 4px rgba(7,66,205,.15),0 4px 12px rgba(7,66,205,.15)!important;
			box-shadow: 0 1px 1px rgba(7,66,205,.15),0 1px 2px rgba(7,66,205,.15),0 1px 2px rgba(7,66,205,.15),0 2px 4px rgba(7,66,205,.15),0 4px 12px rgba(7,66,205,.15)!important;
			-webkit-transition: all 350ms ease;
			-o-transition: all 350ms ease;
			transition: all 350ms ease;
			
		}
		/* MENU */
		.menu {
			width: 100%;
			background: white;
			display: flex;
			align-items: center;
			padding: 20px 30px;
			box-sizing: border-box;
			justify-content: space-between;
			background: #fff;
		}
		.menu ul {
			height: 100%;
			display: flex;
			align-items: center;
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.menu ul li a {
			height: 100%;
			height: 40px;
			line-height: 40px;
			display: block;
			background: #fff;
			color: #333;
			text-decoration: none;
			padding: 0 15px;
		}
		.menu ul li a.active, .menu ul li a:hover {
			background: #fff;
		}
		.menu ul li a.active {
			font-weight: bolder;
		}
		.menu .button {
			margin-top: 0;
		}
		
		.search {
			width: 100%;
			margin-bottom: 20px;
			display: flex;
		}
		.search .form-row {
			/* width: 33%; */
			display: flex;
		}
		.search input, .search button {
			width: 58%;
			margin: 0;
		}
		.search button {
			width: 100px;
			padding: 0;
			margin-left: 5px;
		}
		
		input.langInput {
			display: none;
		}
		input.langInput:first {
			display: block !important;
		}
		
		/* CONTENT AREA */
		.content {
			position: relative;
			overflow: hidden;
			padding: 30px;
			box-sizing: border-box;
			border: 1px solid #ccc;
			margin: 0 30px;
		}
		.content .bordered {
			width: 100%;
			border: 1px solid #ccc;
			box-sizing: border-box;
		}
		table {
			width: 100%;
			display: table;
			border-collapse: collapse;
		}
		table td {
			padding: 8px 0;
			font-size: 12px;
			border-bottom: 1px solid #ddd;
		}
		table thead tr td {
			font-weight: bolder;
			font-size: 14px;
			text-transform: uppercase;
			border-bottom: 1px solid #ccc;
		}
		.form-group {
			margin-bottom: 10px;
		}
		.input_error {
			border: 1px dashed red;
		}
		.upper {
			text-transform: uppercase !important;
		}
		.bordered.full {
			width: 100%;
		}
		
		/* MESSAGES */
		.form_msg {
			display: block;
			width: 100%;
			padding: 15px;
			font-size: 12px;
			background: #f1f1f1;
			border: 1px dashed #ccc;
		}
		
		/* POPUP */
		.closePopup {
			display: block;
			width: 20px;
			height: 20px;
			background: url('img/icon_close.svg') 50% no-repeat;
			position: absolute;
			top: 18px;
			right: 18px;
		}
		body.fade {
			overflow: hidden;
		}
		div.fade {
			display: block;
			width: 100%;
			height: 100vh;
			background: rgba(0, 0, 0, 0.4);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 5000;
			display: none;
		}
		.popup_window {
			width: 380px;
			position: fixed;
			padding: 30px 70px 40px 70px;
			text-align: center;
			z-index: 9000;
			background: white;
			border-radius: 4px;
			left: 50%;
			margin-left: -190px;
			display: none;
			top: 50%;
		}
		.popup_window h1 {
			font-size: 2rpx;
			text-transform: none;
		}
		.popup_window .btns {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.popup_window .btns a {
			width: 80px;
			display: inline-block;
			height: 35px;
			line-height: 35px;
			background: #c4c4c4;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 2px;
			color: #333;
			margin: 0 5px;
			font-size: 12px;
			text-decoration: none !important;
		}
		.popup_window .btns.full {
			display: block;
			width: 100%;
		}
		.popup_window .btns.full a {
			width: 100%;
			margin: 5px 0 !important;
		}
		
		p.confirm {
			font-size: 12px;
			display: block;
			margin: 25px 0 30px 0;
		}
		.lang_list {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.lang_list a {
			display: inline-block;
			background: #f9f9f9;
			padding: 5px 15px;
			border: 1px solid #e7e7e7;
			color: #333;
			text-decoration: none;
		}
		.lang_list a.active {
			background: #333;
			color: white;
			border: 1px solid #333 !important;
		}
		.langContainer {
			display: none;
		}
		.sub_list {
			list-style: none;
			margin: 0;
			padding: 0;
			background: #f9f9f9;
			border: 1px solid #e7e7e7;
		}
		.sub_list li a {
			display: inline-block;
			padding: 5px;
			font-size: 12px;
		}