<h1 *ngIf="!this.editMode">Add new Sight</h1>
<h1 *ngIf="this.editMode">Edit Sight</h1>
<ul class="lang_list">
	<li *ngFor="let rec of languages;">
		<a href="javascript:void(0);" data-lang="{{ rec.code }}" class="switchLang">{{ rec.name }}</a>
	</li>
</ul>
<div>
	<br />
	<div class="form-group">
		<label>Main Header</label>
		<input type="text" [(ngModel)]="sight.name_en" class="langInput lang_en">
		<input type="text" [(ngModel)]="sight.name_ru" class="langInput lang_ru">
		<input type="text" [(ngModel)]="sight.name_kz" class="langInput lang_kz">
		<input type="text" [(ngModel)]="sight.name_es" class="langInput lang_es">
		<input type="text" [(ngModel)]="sight.name_zh" class="langInput lang_zh">
	</div>
	<div class="form-group">
		<label>Short Description</label>
		<textarea [(ngModel)]="sight.sdescription_en" class="langInput lang_en"></textarea>
		<textarea [(ngModel)]="sight.sdescription_ru" class="langInput lang_ru"></textarea>
		<textarea [(ngModel)]="sight.sdescription_kz" class="langInput lang_kz"></textarea>
		<textarea [(ngModel)]="sight.sdescription_es" class="langInput lang_es"></textarea>
		<textarea [(ngModel)]="sight.sdescription_zh" class="langInput lang_zh"></textarea>
	</div>
	<div class="form-group">
		<label>Full Description</label>
		<textarea [(ngModel)]="sight.description_en" class="langInput lang_en"></textarea>
		<textarea [(ngModel)]="sight.description_ru" class="langInput lang_ru"></textarea>
		<textarea [(ngModel)]="sight.description_kz" class="langInput lang_kz"></textarea>
		<textarea [(ngModel)]="sight.description_es" class="langInput lang_es"></textarea>
		<textarea [(ngModel)]="sight.description_zh" class="langInput lang_zh"></textarea>
	</div>
	<div class="form-group">
		<label>Country</label><br />
		<select [(ngModel)]="sight.country_id" (change)="onChangeCountry($event.target.value)" class="country_select form-control select2">
			<option value="">Select Country</option>
			<option *ngFor="let country of list_countries; index as i;" value="{{ country.id }}">{{ country.name_en }}</option>
		</select>
	</div>
	<div class="form-group">
		<label>City</label><br />
		<select [(ngModel)]="sight.city_id" class="form-control select2">
			<option value="">Select City</option>
			<option *ngFor="let city of list_cities; index as i;" value="{{ city.id }}">{{ city.name_en }}</option>
		</select>
	</div>
	<div class="form-group">
		<label>Tags</label><br />
		<select [(ngModel)]="sight.tags" multiple size="10" class="form-control select2">
			<option *ngFor="let tag of list_tags; index as i;" value="{{ tag.id }}">{{ tag.name_en }}</option>
		</select>
	</div>
	<div class="form-group">
		<label>Sliders</label>
		<select multiple size="10" class="form-control">
			<option value="">No Sliders Available</option>
		</select>
	</div>
	<div class="form-group">
		<label>Status</label>
		<select [(ngModel)]="sight.is_active" class="form-control">
			<option value="true">Active</option>
			<option value="false">Not Active</option>
		</select>
	</div>
	<div class="form-group">
		<label>Rating</label>
		<input type="number" [(ngModel)]="sight.rating">
	</div>
	<div class="form-group">
		<label>Longitude</label>
		<input type="text" [(ngModel)]="sight.longitude">
	</div>
	<div class="form-group">
		<label>Latitude</label>
		<input type="text" [(ngModel)]="sight.latitude">
	</div>
	<button (click)="saveSight()" class="button">Submit</button>
</div>
