			<div class="row">
				<div class="col"> 
					<input type="text" placeholder="Search by Name" [(ngModel)]="query" class="form-control">
				</div>
					<div class="col">
					<button type="button" style="padding: 7px !important;" (click)="searchAr()">Search</button>
				</div>
			

				<div class="col">
					<select (change)="onChangeSight($event.target.value)" class="form-control">
						<option value="">Filter By Sight</option>
						<option *ngFor="let sight of list_sights; index as i;" value="{{ sight.id }}">{{ sight.name_en }}</option>
					</select>					
				</div>
				<div class="col" > 
					<button type="button" style="padding: 7px !important;" routerLink="ar_form">Add Item</button>
				</div>
			</div>
			<div style="overflow: auto;">
				<table class="table table-striped">
				<thead>
					<tr>
						<td>ID</td> 
						<td>Название</td>
						<td>Достопремичательность</td>
						<td>Статус</td>
						<td>Версия</td>
						<td>Дата создания</td>
						<td>Опции</td>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let record of list; index as i;">
						<td>{{ i + 1 }}</td>
						<td>{{ record.main_header_en }}</td>
						<td>{{ record.sight_id }}</td>
						<td>
							<span *ngIf="record.is_active" class="badge badge-success">Active</span>
							<span *ngIf="!record.is_active" class="badge badge-warning">Not Active</span>
						</td>
						<td>{{ record.version }}</td>
						<td>{{ record.create_date | date: 'dd-MM-yyyy H:mm:ss'}}</td>
						<td>
							<a href="/ar_form/{{ record.id }}" class="badge badge-warning">Edit</a>
							<a href="javascript:void(0);" (click)="askDelete(record.id)" class="onDelete badge badge-danger">Remove</a>
						</td>
					</tr>
				</tbody>
				</table>
			</div>